body {
  background-color: #fff5ec;
  /* background-color: lightblue; */
  margin: 0;
  font-family: "Inter", sans-serif;
}

.navigation {
  width: 90%;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  margin: 0 5%;
  padding-top: 30px;
}

.navigation-opt {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.navigation-opt a,
.navigation-opt a:focus {
  color: #2e266f;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
}

.main {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 10% 0;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipe h1 {
  color: #2e266f;
  font-size: 60px;
  font-weight: 500;
}

.recipe > img {
  max-width: 80%;
}

.recipe-opt {
  display: flex;
  position: relative;
  bottom: 80px;
  left: 30%;
}

.recipe-opt button,
.recipe-opt button:focus {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  margin: 0 10px;
  outline: none;
  cursor: pointer;
}

.recipe-opt button:first-of-type {
  background-color: #efc81a;
  border: 2px solid #efc81a;
}

.recipe-opt button:last-of-type {
  background-color: #ffffff;
  border: 2px solid #efc81a;
}

.recipe-opt button:first-of-type > img {
  width: 25px;
}

.recipe-opt button:last-of-type > img {
  width: 30px;
}

.recipe h2 {
  align-self: flex-start;
  color: #3f3a3a;
  font-size: 40px;
  font-weight: 500;
}

.ingredient-list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  color: #000000;
  font-size: 24px;
  font-weight: 300;
}

.video-list {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.video-list button,
.video-list button:focus {
  height: 50px;
  width: 200px;
  background-color: #efc81a;
  border: none;
  border-radius: 8px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
}

.comment {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.comment-input,
.comment-input:focus {
  height: 300px;
  width: 90%;
  background-color: #f6f5f4;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  margin: 50px 0;
  padding: 20px;
  outline: none;
}

.comment-btn,
.comment-btn:focus {
  height: 50px;
  width: 40%;
  min-width: 300px;
  background-color: #efc81a;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  margin-bottom: 50px;
  outline: none;
  cursor: pointer;
}

.comment h2 {
  align-self: flex-start;
  color: #3f3a3a;
  font-size: 40px;
  font-weight: 500;
}

.comment-post {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
}

.comment-detail {
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 20px;
}

.comment-detail span {
  color: #000000;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

.comment-detail p {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  margin: 0;
}

.footer {
  height: 400px;
  width: 100%;
  background-color: #efc81a;
}

.footer-wrap {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10%;
}

.jargon {
  min-width: 200px;
  text-align: center;
  color: #2e266f;
  font-size: 60px;
  font-weight: 400;
}

.tagline {
  min-width: 200px;
  text-align: center;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.other-opt {
  width: 40%;
  min-width: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.other-opt span {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .recipe h1 {
    text-align: center;
    font-size: 36px;
  }

  .recipe h2 {
    font-size: 30px;
  }

  .recipe-opt {
    bottom: 40px;
    left: 25%;
  }

  .recipe-opt button {
    width: 30px;
    height: 30px;
    border-radius: 20%;
    margin: 0 3px;
  }

  .recipe-opt button:first-of-type > img {
    width: 15px;
  }
  
  .recipe-opt button:last-of-type > img {
    width: 20px;
  }

  .ingredient-list{
    font-size: 20px;
  }

  .comment-detail {
    justify-content: center;
  }

  .comment-detail span {
    font-size: 18px;
  }

  .comment-detail p {
    font-size: 16px;
  }

  .jargon {
    font-size: 36px;
  }

  .other-opt {
    flex-direction: column;
    font-size: 8px;
  }
}
