body {
  background-color: #fff5ec;
  /* background-color: lightblue; */
  margin: 0;
  font-family: "Inter", sans-serif;
}

.navigation {
  width: 90%;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-between;
  margin: 0 5%;
  padding-top: 30px;
}

.navigation-opt {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.navigation-opt a,
.navigation-opt a:focus {
  color: #2e266f;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  outline: none;
}

.recipe-input {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 100px 10%;
}

.input-image,
.input-image:focus {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 150px 40%;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  outline: none;
}

.input,
.input:focus {
  height: 50px;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  padding-left: 30px;
  margin-bottom: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  outline: none;
}

.input-area,
.input-area:focus {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 30px;
  margin-bottom: 25px;
  resize: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  outline: none;
}

.input-video,
.input-video:focus {
  display: flex;
  align-items: center;
  border-radius: 8px;
  background-color: #ffffff;
  padding: 50px 40%;
  margin-bottom: 55px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  outline: none;
}

.post-btn,
.post-btn:focus {
  height: 60px;
  width: 400px;
  max-width: 50%;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: center;
  background-color: #efc81a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  outline: none;
}

.footer {
  height: 400px;
  width: 100%;
  background-color: #efc81a;
}

.footer-wrap {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 10%;
}

.jargon {
  min-width: 200px;
  text-align: center;
  color: #2e266f;
  font-size: 60px;
  font-weight: 400;
}

.tagline {
  min-width: 200px;
  text-align: center;
  color: #707070;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.other-opt {
  width: 40%;
  min-width: 200px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.other-opt span {
  color: #707070;
  font-size: 16px;
  font-weight: 400;
}

@media only screen and (max-width: 600px){
  .jargon{
    font-size: 36px;
  }

  .other-opt{
    flex-direction: column;
    font-size: 8px;
  }
}